<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    
    <select id="colaboradores" resultType="pojo.Colaborador">
        SELECT idColaborador, c.nombre, apellidoPaterno, apellidoMaterno, noPersonal, correo, curp,
		password, c.idRol, r.nombre AS rol,numeroLicencia AS noLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
    </select>
    
    <select id="colaboradorPorNoPersonal" resultType="pojo.Colaborador" parameterType="String">
        SELECT idColaborador, c.nombre, apellidoPaterno, apellidoMaterno, noPersonal, correo, curp,
		password, c.idRol, r.nombre AS rol, numeroLicencia AS noLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        WHERE noPersonal = #{noPersonal}
    </select>
    
    <insert id="registro"  parameterType="pojo.Colaborador">
        INSERT INTO colaborador(nombre, apellidoPaterno, apellidoMaterno, noPersonal, correo, curp,
		password, idRol, numeroLicencia, fotografia)  
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{noPersonal}, 
                #{correo}, #{curp}, #{password}, #{idRol}, #{noLicencia}, #{fotografia})
    </insert>
    
    <delete id="eliminar" parameterType="int">
        CALL eliminarColaborador(#{idColaborador})
    </delete>
    
    <update id="modificar" parameterType="pojo.Colaborador">
        UPDATE colaborador 
	SET nombre = #{nombre},apellidoPaterno=#{apellidoPaterno},apellidoMaterno=#{apellidoMaterno}, correo= #{correo},
                     curp=#{curp}, password=#{password}, numeroLicencia=#{noLicencia}, fotografia = #{fotografia}
	WHERE idColaborador=#{idColaborador};
    </update>
    <select id="obtenerFotografia" parameterType="int" resultType="String">
        SELECT fotografia FROM colaborador where idColaborador = #{idColaborador};
    </select>
     
    <select id="comprobarCorreo" parameterType="String" resultType="String">
        SELECT correo FROM colaborador WHERE correo = #{correo};
    </select>
    
    <select id="comprobarCURP" parameterType="String" resultType="String">
        SELECT curp FROM colaborador WHERE curp = #{curp};
    </select>
    
    <select id="comprobarNoPersonal" parameterType="String" resultType="String">
        SELECT noPersonal FROM colaborador WHERE noPersonal = #{noPersonal};
    </select>
    
    <select id="comprobarLicencia" parameterType="String" resultType="String">
        SELECT numeroLicencia FROM colaborador WHERE numeroLicencia = #{noLicencia};
    </select>
    
    <select id="comprobarEnvios" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM Envio
        WHERE idColaborador = #{idColaborador};
    </select>
</mapper>

