<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="historial">
    

   <insert id="guardarCambioEstatus" parameterType="pojo.HistorialEnvio">
    INSERT INTO historialenvio (idColaborador, comentario, idEnvio, idEstadoEnvio)
    VALUES (#{idColaborador}, #{comentario}, #{idEnvio}, #{idEstadoEnvio})
</insert>

    <select id="obtenerHistorialEnvio" parameterType="int" resultType="pojo.HistorialEnvio">
        SELECT horaModificacion, comentario, e.nombre as estatus
        FROM HistorialEnvio h
        INNER JOIN EstadoEnvio e ON h.idEstadoEnvio = e.idEstadoEnvio
        WHERE h.idEnvio = #{idEnvio};
    </select>


</mapper>
