<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paquetes">
    
    
    <select id="obtenerPaquetesEnvio" parameterType="int" resultType="pojo.Paquete"> 
        SELECT idPaquete, descripcion, peso, ancho, altura, profundidad, idEnvio
        FROM paquete
        WHERE idEnvio = #{idEnvio}
    </select>
    
    <insert id="registrar" parameterType="pojo.Paquete">
        INSERT INTO paquete
        (descripcion, peso, ancho, altura, profundidad, idEnvio)
        VALUES (#{descripcion},#{peso}, #{ancho}, #{altura}, #{profundidad}, #{idEnvio})
        
    </insert>
    
    <update id="editar" parameterType="pojo.Paquete">
    UPDATE paquete
    SET descripcion = #{descripcion}, 
        peso = #{peso}, 
        ancho = #{ancho}, 
        altura = #{altura}, 
        profundidad = #{profundidad}
    WHERE idPaquete = #{idPaquete}
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM paquete
        WHERE idPaquete = #{idPaquete}
    </delete>

    
    


</mapper>
